<%= form_for(@program, html: { class: "edit_program form-horizontal", role: "form" }) do |f| %>

  <!-- Errors -->
  <%= bootstrap_errors f %>
  
  <%= content_tag(:div, class: "form-group #{has_error(f.object, :name)}") do %>
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
    </div>
  <% end %>
  
  <%= content_tag(:div, class: "form-group #{has_error(f.object, :start_date)}") do %>
    <%= f.label :start_date, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <div class="input-group date" data-behaviour="datepicker">
        <%= f.text_field :chronic_start_date, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  <% end %>
  
  <%= content_tag(:div, class: "form-group #{has_error(f.object, :end_date)}") do %>
    <%= f.label :end_date, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <div class="input-group date" data-behaviour="datepicker">
        <%= f.text_field :chronic_end_date, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  <% end %>
  
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
