<div class="page-header">
  <h2>New User</h2>
</div>

<ul class="nav nav-tabs">
  <li>
    <%= link_to users_path do %>
      <span class="glyphicon glyphicon-list"></span> List
    <% end %>
  </li>
  
  <li class="active">
    <%= link_to new_user_path do %>
      <span class="glyphicon glyphicon-plus"></span> New
    <% end %>
  </li>
  
  <li class="disabled">
    <%= link_to '#' do %>
      <span class="glyphicon glyphicon-info-sign"></span> Details
    <% end %>
  </li>
  
  <li class="disabled">
    <%= link_to '#' do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  </li>
</ul>

<%= render 'form' %>