<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @activity.title %></dd>
  
  <dt>Start Date</dt>
  <dd><%= @activity.chronic_start_date %></dd>
  
  <dt>End Date</dt>
  <dd><%= @activity.chronic_end_date %></dd>
  
  <dt>Activity Type</dt>
  <dd><%= @activity.activity_type %></dd>
  
  <dt>Contact Hours</dt>
  <dd><%= @activity.contact_hours %></dd>
  
  <dt>Co-provided?</dt>
  <dd><%= @activity.co_provided? ? "Yes" : "No" %></dd>
  
  <dt>Received Support?</dt>
  <dd><%= @activity.received_support? ? "Yes" : "No" %></dd>
  
  <dt>Commercial Support</dt>
  <dd><%= humanized_money_with_symbol @activity.commercial_support %></dd>
  
  <dt>Sponsorship</dt>
  <dd><%= humanized_money_with_symbol @activity.sponsorship %></dd>
</dl>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Presentations
			</div>
      <div class="table-responsive">
  			<table class="table table-condensed table-hover">
  				<thead>
  					<tr>
  						<th>Event Date</th>
  						<th>RN Participants</th>
  						<th>All Participants</th>
  					</tr>
  				</thead>

  				<tbody>
            <% @activity.presentations.order(event_date: :asc).each do |presentation| -%>
    					<tr>
                <td><%= presentation.chronic_event_date %></td>
                <td><%= presentation.rn_participants %></td>
                <td><%= presentation.all_participants %></td>
              </tr>
            <% end -%>
  				</tbody>
  			</table>
      </div>
      <div class="panel-footer">
  			<%= link_to new_activity_presentation_path(@activity) do %>
  				<span class="glyphicon glyphicon-plus"></span> Add New
  			<% end %>
      </div>
		</div>
	</div>
</div>
