<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
  	<thead>
  		<tr>
  			<th>Title</th>
  			<th>Start Date</th>
  			<th>End Date</th>
      
        <th class="shrink"></th>
        <th class="shrink"></th>
        <th class="shrink"></th>
  		</tr>
  	</thead>

  	<tbody>
  		<% @activities.each do |activity| -%>
    		<tr>
    			<td><%= activity.title %></td>
    			<td><%= activity.chronic_start_date %></td>
    			<td><%= activity.chronic_end_date %></td>
          
          <td>
            <%= link_to activity_path(activity) do %>
              <span class="glyphicon glyphicon-info-sign"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_activity_path(activity) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>
          <td>
            <%= link_to(activity, method: :delete, title: "Delete", data: { toggle: "tooltip", confirm: 'Are you sure?' }) do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
    		</tr>
  		<% end -%>
  	</tbody>
  </table>
</div>

<%= paginate @activities %>
