<div class="page-header">
  <h2>Edit Activity</h2>
</div>

<ul class="nav nav-tabs">
  <li>
    <%= link_to activities_path do %>
      <span class="glyphicon glyphicon-list"></span> List
    <% end %>
  </li>
  
  <li>
    <%= link_to new_activity_path do %>
      <span class="glyphicon glyphicon-plus"></span> New
    <% end %>
  </li>
  
  <li>
    <%= link_to activity_path(@activity) do %>
      <span class="glyphicon glyphicon-info-sign"></span> Details
    <% end %>
  </li>
  
  <li class="active">
    <%= link_to edit_activity_path(@activity) do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  </li>
</ul>

<%= render 'form' %>